NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://neondb_owner:npg_QRObjJ12IDcl@ep-falling-haze-a1v4untz-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vertex_agri

JWT_SECRET=2747aeb51c0bf9ec23791858f5534d2fd0a1c30f28286a0bba4951aa599e4b367dfe7692082699e503dfd961cff8732e
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
